<form method="POST" action="/posts/{{post.permalink}}/comments" role="form">
  <input type="hidden" name="_csrf" value="{{csrf_token}}"/>
  <div class="form-group">
    <textarea name="body" class="form-control" type="text" rows="6" placeholder="Введите ваш комментарий"></textarea>
  </div>
  <button class="btn btn-sm btn-primary">Прокомментировать</button>
</form>