<div class="container">
  <h4>Комментариев: {{post.comments.length}}</h4>
  <br/>
  {{#each post.comments}}
    <div class="comment" id="{{this._id}}">
      <h5>Написал <strong>{{this.author.username}}</strong> {{{localeDate this.date}}}</h5>
      <div style="float: left; margin-right: 10px">
        <img src="{{this.author.avatar_url}}" class="avatar"/>
      </div>
      <div class="comment-body" style="margin-left: 60px">
        <blockquote>{{{this.body}}}</blockquote>
      </div>
      <div style="clear: both"></div>
    </div>
    {{#if ../user}}
      {{#canDeleteComment ../../user ../this.author._id}}
        <form class="form-inline" method="POST"
              action="/posts/{{../../../post.permalink}}/comments/{{../../this.id}}"
              onsubmit="return confirm('Вы действительно хотите удалить комментарий автора «{{../../this.author.username}}»?')">
          <input type="hidden" name="_csrf" value="{{csrf_token}}"/>
          <input type="hidden" name="_method" value="DELETE"/>
          <button class="btn btn-sm btn-danger btn-link">Удалить комментарий</button>
        </form>
      {{/canDeleteComment}}
    {{/if}}
    <hr/>
  {{/each}}
  {{#if user}}
    {{> comment_form}}
  {{/if}}
</div>
