<footer role="contentinfo">
  <div class="container">
    <p>С нами можно связаться в социальных сетях:</p>
    <ul class="list-inline">
      <li><a style="text-decoration: none" href="https://vk.com/ioclub"><span class="fa fa-vk"></span> ВК</a></li>
      <li>·</li>
      <li><a style="text-decoration: none" href="https://facebook.com/crazykirs"><span class="fa fa-facebook"></span> Facebook</a></li>
    </ul>
    <small>Copyright &copy; 2014 IzGoroda</small>
    <br/>
    <small>Разработка, дизайн: <a href="https://vk.com/yuriy.bogomolov">Юрий Богомолов</a></small>

    <div style="display: block; height: 32px; text-align: left">
      <!-- HotLog -->
      <span id="hotlog_counter"></span>
      <span id="hotlog_dyn"></span>
      <script type="text/javascript"> var hot_s = document.createElement('script');
      hot_s.type = 'text/javascript'; hot_s.async = true;
      hot_s.src = 'http://js.hotlog.ru/dcounter/2344761.js';
      hot_d = document.getElementById('hotlog_dyn');
      hot_d.appendChild(hot_s);
      </script>
      <noscript>
      <a href="http://click.hotlog.ru/?2344761" target="_blank">
      <img src="http://hit37.hotlog.ru/cgi-bin/hotlog/count?s=2344761&im=600" border="0"
           title="HotLog" alt="HotLog"></a>
      </noscript>
      <!-- /HotLog -->
    </div>
  </div>
</footer>