{{#contentFor "styles"}}
  <style>
    /* CUSTOMIZE THE CAROUSEL */

    #recentThreePosts {
      margin-top: -20px;
      z-index: 0;
    }

    /* Carousel base class */
    .carousel {
      height: 300px;
    }

    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
      height: 300px;
      background-color: #777;
    }

    .carousel-inner > .item > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 300px;
    }

    .carousel-ratio {
      position:relative;
      width: 100%;
      height: 300px;
      background: no-repeat center center;
      background-size: cover;
    }

    .carousel-caption>h1 {
      text-shadow: 0 1px 7px rgba(0,0,0,1);
    }
  </style>
{{/contentFor}}

{{#contentFor "scripts"}}
  <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#recentThreePosts').carousel();
    });
  </script>
{{/contentFor}}

<div id="recentThreePosts" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {{#each threeRecentPosts}}
      <li data-target="#recentThreePosts" data-slide-to="{{@index}}" class="{{#unless @index}}active{{/unless}}"></li>
    {{/each}}
  </ol>
  <div class="carousel-inner">
    {{#each threeRecentPosts}}
      <div class="item {{#unless @index}}active{{/unless}}">
        <div class="carousel-ratio" style="background-image: url('{{image_url}}')"></div>
        <div class="container">
          <div class="carousel-caption">
            <h1>{{title}}</h1>
            <p><a class="btn btn-lg btn-primary" href="/posts/{{permalink}}" role="button">Читать</a></p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <a class="left carousel-control" href="#recentThreePosts" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#recentThreePosts" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>