{{#if info}}
  <div class="fade in alert alert-info">
    <button type="button" data-dismiss="alert" class="close">×</button>
    <ul>
      {{#each info}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if errors}}
  <div class="fade in alert alert-danger">
    <button type="button" data-dismiss="alert" class="close">×</button>
    <ul>
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if success}}
  <div class="fade in alert alert-success">
    <button type="button" data-dismiss="alert" class="close">×</button>
    <ul>
      {{#each success}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if warning}}
  <div class="fade in alert alert-warning">
    <button type="button" data-dismiss="alert" class="close">×</button>
    <ul>
      {{#each warning}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}