{{#contentFor "styles"}}
  <style>
    /* CUSTOMIZE THE NAVBAR */

    /* Flip around the padding for proper display in narrow viewports */
    .navbar-wrapper, .navbar {
      z-index: 10;
    }

    .navbar-wrapper .navbar {
      padding-left: 15px;
      padding-right: 15px;
    }

    .my-text {
      height: 50px;
      width: auto;
      vertical-align: middle;
      padding-top: 10px;
      padding-bottom: 15px;
      color: #999;
    }

    .my-search>div>input, .my-search>div>div>button{
      border-radius: 15px;
    }

    input.blog-dark, button.blog-dark{
      outline-color: rgb(51,51,51);
      color: rgb(181, 181, 181);
      border-color: rgb(51,51,51);
      background-color: #111111;
    }

    button.blog-dark:hover, button.blog-dark:active{
      color: rgb(181, 181, 181);
      border-color: #66afe9;
      background-color: #090909;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    }
  </style>
{{/contentFor}}
<!-- NAVBAR ==================================================-->
<div class="navbar-wrapper">
  <div role="navigation" class="navbar navbar-inverse ">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="sr-only">Навигация</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Блог Клуба «КудЫ»</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Разделы<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/section/анонс">Анонсы</a></li>
            <li><a href="/section/обзор">Обзоры</a></li>
            <li><a href="/section/статья">Статьи</a></li>
            <li><a href="/section/тренинг">Тренинги</a></li>
            <li><a href="/section/техника">Техника</a></li>
              <li><a href="/section/strike">Страйкбол</a></li>
            <li><a href="/section/поход">Архив экспедиций</a></li>
            <li class="divider"></li>
            <li><a href="/gallery">Фотогалерея</a></li>
            <li><a href="/section/видео">Видео</a></li>
            <li class="divider"></li>
            <li><a href="/about">О Клубе «КудЫ»</a></li>
          </ul>
        </li>
        <li><a href="/business">Деловые предложения</a></li>
      </ul>
      {{#if user}}
        {{#isWriterOrAdmin user}}
          <ul class="nav navbar-nav">
            <li>
              <a href="/posts/new" class=""><span class="glyphicon glyphicon-edit"></span> Написать</a>
            </li>
          </ul>
        {{/isWriterOrAdmin}}
      {{else}}
      {{/if}}
      <div class="col-sm-4 col-md-4 pull-left">
        <form class="navbar-form my-search" role="search" action="/search">
          <input type="hidden" id="_csrf" value="{{csrf_token}}"/>
          <div class="input-group">
            <input type="text" class="form-control blog-dark" placeholder="Поиск по блогу" name="query" id="query" />
            <div class="input-group-btn">
              <button class="btn btn-default blog-dark" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
          <li>
            <img class="avatar-navbar" width="30" height="30" src="{{user.avatar_url}}"/>
          </li>
          <li>
            <a class="my-text" href="/profile">{{user.username}}</a>
          </li>
          <li><a href="/logout">Выйти</a></li>
        {{else}}
          <li><a href="/login">Войти</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>