<div class="blog-post">
  <h2>
    {{#if is_special}}
      <span class="glyphicon glyphicon-lock"></span>
    {{/if}}<a href="/posts/{{permalink}}">{{title}}</a></h2>
  <div class="blog-post-author"><h5>Написал <img src="{{author.avatar_url}}" class="avatar"/> <strong>{{author.username}}
  </strong> {{{localeDate date_published}}}</h5></div>

  <div class="wrapper">
    {{#if image_url}}
      <div class="ratio" style="background-image: url('{{image_url}}');"></div>
    {{/if}}
    <div class="blog-post-body">
      {{{getCut body}}}
    </div>
  </div>

  <div class="blog-post-tags">
    <span>
      {{#each tags}}
        <i class="muted fa fa-tag"></i>&nbsp;
        <a href="/tags/{{this}}">{{this}}</a>
      {{/each}}
    </span>
  </div>
  <div class="blog-post-tags">
    <h6>Комментариев: {{comments.length}}</h6>
  </div>
  <a href="/posts/{{permalink}}" class="btn btn-default">Читать дальше →</a>
</div>