<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="well">
    <h3><span class="fa fa-user"></span> Local</h3>
      <p>
        <img class="img-rounded" src="{{ user.avatar_url }}" /><br/>
        <strong>username</strong>: {{ user.username }}<br/>
        <strong>email</strong>: {{ user.email }}<br/>
      </p>
  </div>
</div>