{{!< main}}
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Добавление локального аккаунта</h1>
    <!-- show any messages that come back with authentication -->
    {{#if message}}
      <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <!-- LOGIN FORM -->
    <form action="/connect/local" method="post">
      <input type='hidden' name='_csrf' value={{csrf_token}} />
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" />
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" />
      </div>

      <button type="submit" class="btn btn-success btn-lg">Добавить</button>
    </form>

    <hr />
    <p><a href="/profile">Вернуться обратно к профилю</a></p>
  </div>
</div>