<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Блог Клуба «КудЫ»</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
<body>
<div class="container" style="padding-top: 100px">
  <div class="jumbotron">
    <h1>Никуда не уходите, скоро всё будет. Обещаем.</h1>
  </div>
</div>
</body>
</html>