{{!< main}}
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Вход на сайт</h1>
    <!-- show any messages that come back with authentication -->
    {{#if message}}
      <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
      <input type='hidden' name='_csrf' value={{csrf_token}} />
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" />
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" />
      </div>

      <button type="submit" class="btn btn-success btn-lg">Войти</button>
    </form>

    <hr />
    <p>Или войдите с помощью социальных сетей:</p>
    <a class="btn btn-primary" href="/auth/facebook"><span class="fa fa-facebook"></span> Facebook</a>
    <a class="btn btn-primary" href="/auth/vkontakte"><span class="fa fa-vk"></span> VK</a>
    <hr />

    <p>Нужен аккаунт? <a href="/signup">Зарегистрируйтесь!</a></p>
    <p>Или же перейдите <a href="/">на главную страницу</a>.</p>
  </div>
</div>