{{!< main}}
{{#contentFor "styles"}}
  <style>
    .well {
      overflow: hidden;
    }
  </style>
{{/contentFor}}
<div class="container">
  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Ваш профиль</h1>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <img src="{{user.avatar_url}}"/>
        <p>{{user.name}}</p>
        <p>{{user.username}}</p>
        <p>Ваш уровень доступа: <strong>{{ user.security_group }}</strong></p>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3 class="text-primary"><span class="fa fa-user"></span> Local</h3>
        {{#if user.email}}
          <p>
            <strong>id</strong>: {{ user._id }}<br/>
            <strong>name</strong>: {{ user.username }} <br/>
            <strong>email</strong>: {{ user.email }}<br/>
          </p>
          <a href="/unlink/local" class="btn btn-primary">Отвязать</a>
        {{else}}
          <a class="btn btn-primary" href="/connect/local">Привязать</a>
          <br/>
          <br/>
        {{/if}}
      </div>
    </div>

    <!-- VKONTAKTE INFORMATION -->
		<div class="col-sm-6">
      <div class="well">
        <h3 class="text-primary"><span class="fa fa-vk"></span> VK</h3>
        {{#if user.vkontakte.token}}
          <p>
            <img src="{{user.vkontakte.photo}}"/>
            <strong>id</strong>: {{ user.vkontakte.id }}<br/>
            <strong>profile</strong>: <a href="{{ user.vkontakte.profileUrl }}">{{ user.vkontakte.profileUrl }}</a><br/>
            <strong>token</strong>: {{user.vkontakte.token}}<br/>
            <strong>name</strong>: {{ user.vkontakte.username }}
          </p>
          <a href="/unlink/vkontakte" class="btn btn-primary">Отвязать</a>
        {{else}}
          <a class="btn btn-primary" href="/connect/vkontakte">Привязать</a>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row">
    <!-- FACEBOOK INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
        {{#if user.facebook.token}}
          <p>
            <img src="https://graph.facebook.com/{{ user.facebook.id }}/picture" />
            <strong>id</strong>: {{ user.facebook.id }}<br/>
            <strong>profile</strong>: <a href="{{ user.facebook.profileUrl }}">{{ user.facebook.profileUrl }}</a><br/>
            <strong>token</strong>: {{user.facebook.token}}<br/>
            <strong>email</strong>: {{ user.facebook.email }}<br/>
            <strong>name</strong>: {{ user.facebook.name }}
          </p>
          <a href="/unlink/facebook" class="btn btn-primary">Отвязать</a>
        {{else}}
          <a class="btn btn-primary" href="/connect/facebook">Привязать</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>