{{!< main}}
<div class="container">
  {{#if query}}
  <h3>Результаты поиска по запросу «{{query}}»:</h3>
  {{else}}
    {{#if tag}}
      <h3>Результаты поиска по тэгу «{{tag}}»:</h3>
    {{/if}}
  {{/if}}
  {{#each searchResults}}
    {{> post this}}
  {{/each}}
</div>