{{!< main}}
<div class="container" style="min-height: 400px">
  {{#if query}}
  <h3>Результаты поиска по запросу «{{query}}»:</h3>
  {{else}}
    {{#if name}}
      <h2 style="text-align: center">Записи в категории «{{name}}»</h2>
      <hr/>
    {{/if}}
  {{/if}}
  {{#each searchResults}}
    {{> post this}}
  {{/each}}
</div>