<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Регистрация</h1>

    {{#if message}}
      <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
      <input type='hidden' name='_csrf' value={{csrf_token}} />
      <div class="form-group">
        <label for="username">Логин:</label>
        <input type="text" class="form-control" id="username" name="username" />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" name="email" />
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>

      <button type="submit" class="btn btn-success btn-lg">Готово</button>
    </form>

    <hr/>
    <p style="font-size: 12px; color: #595959">Вы можете поменять свою аватару по-умолчанию через сервис <a href="http://www.gravatar.com">Gravatar</a>.
    <br/>Изменения мгновенно будут отражены в вашем профиле.</p>
    <hr/>

    <p>Уже зарегистрированы? <a href="/login">Вход на сайт</a></p>
    <p>Или же перейдите <a href="/">на главную страницу</a>.</p>
  </div>
</div>