html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:170px; /* this needs to be bigger than footer height*/
}

footer {
    color: rgb(64, 75, 85);
    position: relative;
    margin-top: -153px; /* negative value of footer height */
    height: 153px;
    clear:both;
    padding-top:20px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    text-align: center;
}

/* POST partial */
.ratio {
    position:relative;
    width: 200px;
    height: 200px;
    background: no-repeat center center;
    background-size: cover;
    border-radius: 200px;
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
    display: inline-block;
}

.blog-post-body{
    min-height: 20px;
}

.blog-post-tags {
    margin-bottom: 15px;
}

.blog-post {
    overflow: hidden;
    display: inline-block; /* Necessary to trigger "hasLayout" in IE */
    display: block; /* Sets element back to block */
}

small, small>a {
    font-size: 10px;
    text-decoration-color: #808080;
    color: #808080;
}

.navbar .dropdown-menu:before {
    content:normal;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

img.avatar {
    max-height: 25px;
    max-width: 25px;
}

img.avatar-navbar {
    height: 30px !important;
    width: 30px !important;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #999;
}