{{!< main}}
{{#contentFor "scripts"}}
  <!-- CKEditor -->
  <script src="/js/ckeditor/ckeditor.js"></script>
  <script type="text/javascript" src="/js/tag-it.js" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      CKEDITOR.replace('editor', { customConfig: '/js/ckeditor/config.js' });
    });
  </script>
{{/contentFor}}

<div class="container">
  <form action="/business/{{deal.title}}" method="POST" role="form">
    <input id="_csrf" name="_csrf" type="hidden" value={{csrf_token}} />
    <div class="form-group">
      <label for="title">Заголовок:</label>
      <input id="title" name="title" type="text" class="form-control"
             placeholder="Заголовок делового предложения" value="{{deal.title}}"/>
    </div>
    <div class="form-group">
      <label for="editor">Текст делового предложения:</label>
      <textarea id="editor" name="body">{{deal.body}}</textarea>
    </div>

    <a href="/business" class="btn btn-default">Отмена</a>
    <button type="submit" class="btn btn-lg btn-success">Обновить</button>
  </form>
</div>