{{!< main}}

<div class="container">
    {{#if deals}}
    {{#each deals}}
      <form action="/business/{{_id}}" method="POST">
        <input type="hidden" name="_csrf" value="{{csrf_token}}"/>
        <input type="hidden" name="_method" value="DELETE"/>
        <h2>{{title}}</h2>
        <h4>Опубликовано {{{localeDate date_published}}}</h4>
        <p>{{{body}}}</p>
        {{#if ../../user}}
          {{#isAdmin ../../user}}
            <a href="/business/{{../this.title}}/edit" class="btn btn-sm btn-warning">Редактировать</a>
            <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
          {{/isAdmin}}
        {{/if}}
        <hr/>
      </form>
    {{/each}}
    {{else}}
      <h3>Пока что мы не нуждаемся в спонсорской помощи :)</h3>
    {{/if}}
    {{#if user}}
      {{#isAdmin user}}
        <a href="/business/new" class="btn btn-primary btn-lg">Создать новое деловое предложение</a>
      {{/isAdmin}}
    {{/if}}
</div>