{{!< main}}

<div class="container">
  {{#if files}}
  {{#each files}}
    <div style="display: inline-block">
      <div class="well" style="text-align: center">
        <a href="/gallery/{{this}}" title="{{this}}" style="text-decoration: none; text-align: center">
          <img src="/img/backpack.png" style="max-width: 100px; max-height: 100px"/>
          <h4>{{this}}</h4>
        </a>
      </div>
    </div>
  {{/each}}
  {{else}}
    <h3>Пока ни одной галереи не было создано. Вернитесь чуть позже &mdash; здесь будет очень интересно.</h3>
  {{/if}}
  {{#if user}}
    {{#isWriterOrAdmin user}}
      <div style="display: inline-block">
        <div class="well" style="text-align: center">
          <a href="/gallery/new" title="Новая галерея" style="text-decoration: none; text-align: center">
            <span class="glyphicon glyphicon-plus-sign" style="font-size: 126px;"></span>
            <p></p>
          </a>
        </div>
      </div>
    {{/isWriterOrAdmin}}
  {{/if}}
</div>