{{!< main}}

<div class="container">
  <a href="/gallery" class="btn btn-default">« Назад</a>
  <hr />
  <div id="dropzone">
    <form action="/gallery{{path}}" method="POST" class="dropzone" role="form" id="file-dropzone">
      <input type="hidden" name="_csrf" value="{{csrf_token}}"/>

      <div class="form-group">
        <label for="title">Название галереи:</label>
        <input id="title" name="title" type="text" class="form-control" placeholder="Новая галерея" />
      </div>
      <button class="btn btn-lg btn-primary" type="submit">Создать галерею</button>
    </form>
  </div>
</div>