{{!< main}}
{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/blueimp-gallery.min.css"/>
  <link rel="stylesheet" href="/css/bootstrap-image-gallery.min.css"/>
  <link rel="stylesheet" href="/css/dropzone.css"/>
{{/contentFor}}

{{#contentFor "scripts"}}
  <script src="/js/jquery.blueimp-gallery.min.js"></script>
  <script src="/js/bootstrap-image-gallery.min.js"></script>
  <script src="/js/dropzone.js"></script>
  <script>
    Dropzone.options.fileDropzone = {
      addRemoveLinks : true,
      parallelUploads: 1,
      acceptedFiles : 'image/*',
      dictCancelUpload : 'Отмена',
      dictCancelUploadConfirmation : 'Вы уверены, что хотите отменить загрузку?',
      dictRemoveFile : 'Удалить',
      init: function() {
        this.on('queuecomplete', function() {
          //console.log("queuecomplete");
          window.location.replace((window.location + "/regenerate").replace("//regenerate", "/regenerate"));
        })
      }
    };

    $(document).ready(function(){
      $('#blueimp-gallery').data('useBootstrapModal', false);
      $('#blueimp-gallery').toggleClass('blueimp-gallery-controls', true);
    });
  </script>
{{/contentFor}}

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
          </button>
          <button type="button" class="btn btn-primary next">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <a href="{{prevPath}}" class="btn btn-default">« Назад</a>
  <div style="text-align: center">
    <h2>Галерея «{{path}}»</h2>
    {{#if user}}
      {{#isWriterOrAdmin user}}
        <form action="/gallery{{../path}}" method="POST"
              onsubmit="return confirm('Вы действительно хотите удалить галерею {{../path}}? Это действие необратимо!')">
          <input type="hidden" name="_csrf" value="{{csrf_token}}"/>
          <input type="hidden" name="_method" value="DELETE"/>
          {{#unless hideNewButton}}
            <a href="/gallery{{../../path}}new" class="btn btn-primary btn-sm">Создать подгалерею</a>
          {{/unless}}
          <a href="/gallery{{../path}}edit" class="btn btn-default btn-sm">Переименовать</a>
          <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
        </form>
        <a class="btn btn-success" href="/gallery{{../path}}regenerate">Перегенерировать превью</a>
      {{/isWriterOrAdmin}}
    {{/if}}
  </div>
  {{#if dirs}}
    <hr />
    {{#each dirs}}
      <div style="display: inline-block">
      <div class="well" style="text-align: center">
        <a href="/gallery{{../path}}{{this}}" title="{{this}}" style="text-decoration: none; text-align: center">
          <img src="/img/backpack.png" style="max-width: 100px; max-height: 100px"/>
          <h4>{{this}}</h4>
        </a>
      </div>
    </div>
    {{/each}}
  {{/if}}
  <div id="links">
    {{#each images}}
    <div style="display: inline-block; text-align: center; margin-bottom: 5px">
      <a href="/storage{{../path}}{{this}}" title="{{this}}" data-gallery>
        <img class="img-thumbnail" src="/storage{{../path}}thumb/{{this}}" style="max-width: 200px; max-height: 150px; padding: 3px" />
      </a>
      <br/>
      {{#if ../user}}
        {{#isAdmin ../../user}}
          <form action="/gallery{{../../../path}}{{../this}}/img" method="POST" role="form"
                onsubmit="return confirm('Вы действительно хотите удалить изображение {{../this}}? Это действие необратимо!')">
            <input type="hidden" name="_method" value="DELETE"/>
            <button type="submit" class="btn btn-link btn-danger">Удалить</button>
          </form>
        {{/isAdmin}}
      {{/if}}
    </div>
    {{/each}}
    {{#if user}}
      {{#isWriterOrAdmin user}}
        <hr />
        <div id="dropzone">
          <form action="/gallery{{../path}}" method="POST" class="dropzone" role="form" enctype="multipart/form-data" id="file-dropzone">
            <input type="hidden" name="_csrf" value="{{csrf_token}}"/>
            <div class="fallback">
              <input name="file" type="file" multiple="multiple" />
            </div>
          </form>
        </div>
      {{/isWriterOrAdmin}}
    {{/if}}
  </div>
</div>