{{!< main}}
{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/jquery.tagit.css" />
  <link rel="stylesheet" href="/css/tagit.ui-zendesk.css" />
{{/contentFor}}

{{#contentFor "scripts"}}
  <!-- CKEditor -->
  <script src="/js/ckeditor/ckeditor.js"></script>
  <script type="text/javascript" src="/js/tag-it.js" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      CKEDITOR.replace('editor');
      $("#tags").tagit();
    });
  </script>
{{/contentFor}}

<div class="container">
  <form action="/posts/{{post.permalink}}" method="POST" enctype="multipart/form-data" role="form">
    <input id="_csrf" name="_csrf" type="hidden" value={{csrf_token}} />
    <input id="_method" name="_method" type="hidden" value="PUT"/>
    <div class="form-group">
      <label for="title">Название:</label>
      <input id="title" name="title" type="text" class="form-control" placeholder="Введите название статьи" value="{{post.title}}"/>
    </div>
    <div class="form-group">
      <label for="image_url">Ссылка на заглавное изображение:</label>
      <input id="image_url" name="image_url" type="text" class="form-control" placeholder="Вставьте ссылку на изображение" value="{{post.image_url}}"/>
    </div>
    <div class="form-group">
      <label for="editor">Текст статьи:</label>
      <textarea id="editor" name="body">{{post.body}}</textarea>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="{{post.is_special}}" id="is_special" name="is_special"/> Требует спедоступа
      </label>
    </div>
    <div class="form-group">
      <label for="tags">Тэги (разделенные запятой):</label>
      <input class="form-control" id="tags" type="text" name="tags" value="{{post.tags}}" />
    </div>
    <a href="/posts/{{post.permalink}}" class="btn btn-danger">Отмена</a>
    <button type="submit" class="btn btn-lg btn-success">Сохранить</button>
  </form>
</div>