{{!< main}}
{{#contentFor "styles"}}
  <style>
    div.posts-wrapper {
      padding: 20px;
      display: block;
      box-sizing: border-box;
      overflow: hidden;
    }

    body {
      background-color: #a0a0a0;
    }

    img.avatar {
      max-width: 25px !important;
      max-height: 25px !important;
    }
  </style>
{{/contentFor}}

<div class="hidden-xs">
  {{> gallery this}}
</div>

<div class="container">
  <div class="posts-wrapper" style="background-color: #fff">
    <div class="">
      <div class="col-sm-8 blog-main">
        {{#each posts}}
          {{> post this}}
          <hr />
        {{else}}
          <h3>Не найдено ни одной записи.</h3>
          <span>Может, <a href="/posts/new">создадите</a>?</span>
        {{/each}}
      </div>
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="well">
        <h4><span class="glyphicon glyphicon-comment"></span> Комментарии</h4>
        {{#each recent_comments}}
          {{{getCommentLink this}}}
        {{/each}}
      </div>
      <div class="well">
        <h4><span class="glyphicon glyphicon-cloud"></span> Облако тэгов</h4>
        {{#each tagcloud}}
          <a href="/tags/{{this}}">{{this}}</a>
        {{/each}}
      </div>
    </div>

    <ul class="pager">
      {{{createPager pages page}}}
    </ul>
    <!--<div class="col-sm-8">
      <ul class="pagination">
        createPagination pages page}}}
      </ul>
    </div>-->
  </div>
</div>
</div>