{{!< main}}
{{#contentFor "styles"}}
  <style>
    .blog-post {
      margin-top: -20px;
    }

    .image-wrapper {
      position:relative;
      width: 100%;
      height: 200px;
      background: no-repeat center center;
      background-size: cover;

      text-align: center;
      display: table;
    }

    img {
      width:auto;
      max-width:100%;
      height:auto !important;
    }
    
    img.avatar-top {
      max-width: 35px !important;
      max-height: 35px !important;
    }

    img.avatar {
      max-width: 50px !important;
      max-height: 50px !important;
    }

    .title {
      color: #f5f5f5;
      text-shadow: 1px 1px 5px #000;
      display: table-cell;
      vertical-align: middle;
    }
  </style>
{{/contentFor}}

{{#contentFor "scripts"}}
  <script type="text/javascript">
    $(document).ready(function(){

    });
  </script>
{{/contentFor}}
<form action="/posts/{{post.permalink}}" method="POST" onsubmit="return confirm('Вы действительно хотите удалить статью?')">
  <input type="hidden" name="_csrf" value="{{csrf_token}}"/>
  <input type="hidden" name="_method" value="DELETE"/>
  <div class="blog-post">
    {{#if post.image_url}}
    <div class="image-wrapper" style="background-image: url('{{post.image_url}}')">
      <h1 class="title">{{title}}</h1>
    </div>
    {{/if}}

    <div class="container">
      {{#unless post.image_url}}
        <h1>{{post.title}}</h1>
      {{/unless}}
      <div class="blog-post-author"><h4>Написал <img src="{{post.author.avatar_url}}" class="avatar-top"/> <strong>{{post.author.username}}</strong> {{localeDate post.date_published}}</h4></div>
      <div class="blog-post-body">
        {{{post.body}}}
      </div>
      <span>
        {{#each post.tags}}
          <i class="muted fa fa-tag"></i>&nbsp;
          <a href="/tags/{{this}}">{{this}}</a>
        {{/each}}
      </span>
      {{#if isAuthor}}
        <div>
          <a class="btn btn-warning" href="/posts/{{post.permalink}}/edit">Редактировать</a>
          <button type="submit" class="btn btn-danger">Удалить</button>
        </div>
      {{/if}}
      <hr />
    </div>
  </div>
</form>
{{> comments this}}